<!DOCTYPE html>
<html>

<head>
	<title>Block Explorer</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body ng-app="BlockExplorer">
	<div class="container" ng-controller="MainController">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h1 id="page-title">Block Explorer</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form ng-submit="search(searchValue)">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="searchValue">
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="searchType">
							<option value="block">Block Hash</option>
							<option value="transaction">Transaction ID</option>
							<option value="address">Address</option>
						</select>
					</div>
					<button
						type="submit"
						class="btn btn-primary margin-auto btn-search">
							Search
					</button>
					<p ng-if="!block && !transaction && !addressData && initialSearchMade" class="no-data-text">
						No data found for search.
					</p>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1">

				<!-- 'display block' table -->
				<h3 class="table-title" ng-if="block">Block</h3>
				<table class="table table-striped" ng-if="block">
					<tbody>
						<tr>	
							<td class="bold">Block Hash</td>
							<td>{{ block.hash }}</td>
						</tr>
						<tr>	
							<td class="bold">Index</td>
							<td>{{ block.index }}</td>
						</tr>
						<tr>	
							<td class="bold">Time Stamp</td>
							<td>{{ block.timestamp }}</td>
						</tr>
						<tr>	
							<td class="bold">Nonce</td>
							<td>{{ block.nonce }}</td>
						</tr>
						<tr>	
							<td class="bold">Previous Hash</td>
							<td>{{ block.previousBlockHash }}</td>
						</tr>
						<tr>	
							<td class="bold">Number Transactions</td>
							<td>{{ block.transactions.length }}</td>
						</tr>
						<tr>	
							<td class="bold">First Name</td>
							<td>{{ block.patientData['fname'] }}</td>
						</tr>
						<tr>	
							<td class="bold">Last Name</td>
							<td>{{ block.patientData['lname'] }}</td>
						</tr>
						<tr>	
							<td class="bold">Patient Id</td>
							<td>{{ block.patientData['patientId'] }}</td>
						</tr>
						<tr>	
							<td class="bold">Facility Name</td>
							<td>{{ block.patientData['facility'] }}</td>
						</tr>
					</tbody>
				</table>
				<!-- end 'display block' table -->

				<!-- 'display transaction' table -->
				<h3 class="table-title" ng-if="transaction">Transaction</h3>
				<table class="table table-striped" ng-if="transaction">
					<tbody>
						<tr>	
							<td class="bold">Sender</td>
							<td>{{ transaction.sender }}</td>
						</tr>
						<tr>	
							<td class="bold">Recipient</td>
							<td>{{ transaction.recipient }}</td>
						</tr>
						<tr>	
							<td class="bold">Amount</td>
							<td>{{ transaction.amount }}</td>
						</tr>
					</tbody>
				</table>
				<!-- end 'display transaction' table -->

				<!-- 'display address' table -->
				<h3 class="table-title" ng-if="addressData">Address</h3>
				<p id="balance-text" ng-if="addressData">(Balance: {{ addressData.addressBalance }})</p>
				<table class="table table-striped" ng-if="addressData">
					<thead>
						<tr>
							<th scope="col">Sender</th>
							<th scope="col">Recipient</th>
							<th scope="col">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="transaction in addressData.addressTransaction">
							<td>{{ transaction.sender }}</td>
							<td>{{ transaction.recipient }}</td>
							<td>{{ transaction.amount }}</td>
						</tr>
					</tbody>
				</table>
				<!-- end 'display address' table -->

			</div>
		</div>
		<div class="div-blockchain">
			<button
				class="btn btn-primary bb btn-blockchain" onclick="getBlockchain()">
					Blockchain
			</button>
			<button
				class="btn btn-primary bb btn-mine" onclick="showInputMine()">
					Mine
			</button>
			<button
				class="btn btn-primary bb btn-consensus" onclick="consensus()">
					Consensus
			</button>
			<button
				class="btn btn-primary bb btn-broadcast-node" onclick="showInput()">
					Broadcast New Node
			</button>
			<button
				class="btn btn-primary bb btn-transaction" onclick="showInputTrans()">
					Transaction
			</button>
		</div>
		<br>
		<div id="NODE" class="hide">
			<div>
				<input placeholder="Enter the address of node you want to add" type="text" class="form-control node-input" id="nodeValue" name="nodeValue">
			</div>
				<br>
			<button
				class="btn btn-primary bb btn-submit-node" onclick="newNode(document.getElementById('nodeValue').value)">
					Submit
			</button>
		</div>
		<div id="TRANSACTION" class="hide">
			<div>
				<input placeholder="Enter the amount of transaction" type="text" class="form-control node-input" id="amount" name="amount">
			</div>
			<br>
			<div>
				<input placeholder="Enter the address of sender" type="text" class="form-control node-input" id="sender" name="sender">
			</div>
			<br>
			<div>
				<input placeholder="Enter the address of recipient" type="text" class="form-control node-input" id="recipient" name="recipient">
			</div>
			<br>
			<button
				class="btn btn-primary bb btn-submit-node" onclick="newTransaction(document.getElementById('amount').value, document.getElementById('sender').value, document.getElementById('recipient').value)">
					Submit
			</button>
		</div>
		<div id="MINE" class="hide">
			<div>
				<input placeholder="Enter the First Name of patient" type="text" class="form-control node-input" id="fname" name="fname">
			</div>
			<br>
			<div>
				<input placeholder="Enter the Last Name of patient" type="text" class="form-control node-input" id="lname" name="lname">
			</div>
			<br>
			<div>
				<input placeholder="Enter the Patient Id of patient" type="text" class="form-control node-input" id="patientId" name="patientId">
			</div>
			<br>
			<div>
				<input placeholder="Enter the Facility Name for patient" type="text" class="form-control node-input" id="facility" name="facility">
			</div>
			<br>
			<button
				class="btn btn-primary bb btn-submit-node" onclick="mineBlock(document.getElementById('fname').value, document.getElementById('lname').value, document.getElementById('patientId').value, document.getElementById('facility').value)">
					Submit
			</button>
		</div>
		<pre id="BLOCKCHAIN" style= 
			"font-size: 20px; font-weight: bold;"> 
		</pre>
	</div>

	<script>
		window.app = angular.module('BlockExplorer', []);

		app.controller('MainController', function($scope, $http) {
			$scope.block = null;
			$scope.transaction = null;
			$scope.addressData = null;
			$scope.initialSearchMade = false;

			$scope.fetchBlock = function(blockHash) {
				$http.get(`/block/${blockHash}`)
				.then(response => {
					$scope.block = response.data.block;
					$scope.transaction = null;
					$scope.addressData = null;
				});
			};

			$scope.fetchTransaction = function(transactionId) {
				$http.get(`/transaction/${transactionId}`)
				.then(response => {
					$scope.transaction = response.data.transaction;
					$scope.block = null;
					$scope.addressData = null;
				});				
			};

			$scope.fetchAddressData = function(address) {
				$http.get(`/address/${address}`)
				.then(response => {
					$scope.addressData = response.data.addressData;
					if (!$scope.addressData.addressTransactions.length) $scope
						.addressData = null;
					$scope.block = null;
					$scope.transaction = null;
				});				
			};

			$scope.search = function(searchValue) {
				$scope.initialSearchMade = true;
				if ($scope.searchType === 'block') {
					$scope.fetchBlock(searchValue);
				}
				else if ($scope.searchType === 'transaction') {
					$scope.fetchTransaction(searchValue);
				}
				else if ($scope.searchType === 'address') {
					$scope.fetchAddressData(searchValue);
				}
			};

		});

		var blockchain = document.getElementById("BLOCKCHAIN"); 
        var blockchainObject = null;

		function getBlockchain() { 
			document.getElementById("NODE").className="hide";
			document.getElementById("TRANSACTION").className="hide";
			document.getElementById("MINE").className="hide";
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", "/blockchain", false );
            xmlHttp.send( null );
            blockchainObject = JSON.parse(xmlHttp.responseText);
            blockchain.innerHTML = JSON.stringify(blockchainObject, undefined, 4);
		} 
		
		function mineBlock(fname, lname, patientId, facility) { 
			if(patientId.trim() == "" || isNaN(Number.parseInt(patientId))){
				window.alert("Enter a valid patient id.");
			}
			else if(fname.trim() == "" || lname.trim() == "" || facility.trim() == ""){
				window.alert("Enter a valid value.");
			}
			else{
				document.getElementById("NODE").className="hide";
				document.getElementById("TRANSACTION").className="hide";
				var xmlHttp = new XMLHttpRequest();
				xmlHttp.open( "POST", "/mine", false );
				const json = {
						"fname": fname,
						"lname": lname,
						"patientId": patientId,
						"facility": facility
				}
				xmlHttp.setRequestHeader('Content-Type', 'application/json');
				xmlHttp.send(JSON.stringify(json));
				blockchainObject = JSON.parse(xmlHttp.responseText);
				blockchain.innerHTML = JSON.stringify(blockchainObject, undefined, 4);
			}
		} 
		
		function consensus() { 
			document.getElementById("NODE").className="hide";
			document.getElementById("TRANSACTION").className="hide";
			document.getElementById("MINE").className="hide";
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", "/consensus", false );
            xmlHttp.send( null );
            blockchainObject = JSON.parse(xmlHttp.responseText);
            blockchain.innerHTML = JSON.stringify(blockchainObject, undefined, 4);
		} 
		
		function newNode(value) {
			var password = prompt("This is a simulaton of a private blockchain, Enter the password `optum` if you want to be an active node!");
			if(password == 'optum'){
				if(value.trim() == "" || value == null){
					window.alert("Enter a valid value")
				}
				else{
					document.getElementById("NODE").className="hide";
					var xmlHttp = new XMLHttpRequest();
					xmlHttp.open("POST", "/register-and-broadcast-node", false);
					const json = {
						"newNodeUrl": value
					}
					xmlHttp.setRequestHeader('Content-Type', 'application/json');
					xmlHttp.send(JSON.stringify(json));
					blockchainObject = JSON.parse(xmlHttp.responseText);
					blockchain.innerHTML = JSON.stringify(blockchainObject, undefined, 4);
				}
			}
			else{
				window.alert("We can't add you to this private blockchain!");
			}
		}

		function newTransaction(amount, sender, recipient) {
			if(amount.trim() == "" || isNaN(Number.parseInt(amount))){
				window.alert("Enter a valid amount!");
			}
			else if(sender.trim() == "" || recipient.trim() == ""){
				window.alert("Enter a valid address!");
			}
			else{
				document.getElementById("TRANSACTION").className="hide";
				var xmlHttp = new XMLHttpRequest();
				xmlHttp.open("POST", "/transaction/broadcast", false);
				const json = {
					"amount": amount,
					"sender": sender,
					"recipient": recipient
				}
				xmlHttp.setRequestHeader('Content-Type', 'application/json');
				xmlHttp.send(JSON.stringify(json));
				blockchainObject = JSON.parse(xmlHttp.responseText);
				blockchain.innerHTML = JSON.stringify(blockchainObject, undefined, 4);
			}
		}

		function showInput() {
			document.getElementById("TRANSACTION").className="hide";
			document.getElementById("MINE").className="hide";
			document.getElementById("NODE").className="show";
		}

		function showInputTrans() {
			document.getElementById("NODE").className="hide";
			document.getElementById("MINE").className="hide";
			document.getElementById("TRANSACTION").className="show";
		}

		function showInputMine() {
			document.getElementById("NODE").className="hide";
			document.getElementById("TRANSACTION").className="hide";
			document.getElementById("MINE").className="show";
		}
	</script>

	<style type="text/css">
		html, body {
			min-height: 100vh;
			background-color: #e8e8e8;
		}
		.container {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		#page-title {
			text-align: center;
			margin-bottom: 40px;
		}
		.table-title {
			margin-bottom: 20px;
			text-align: center;
		}
		.table {
			background-color: #ffffff;
			box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
		}
		#balance-text {
			text-align: center;
			margin-top: -20px;
			margin-bottom: 30px;
		}
		.margin-auto {
			margin: auto;
			display: block;
		}
		.btn-search {
			margin-bottom: 50px;
		}
		.bold {
			font-weight: 700;
		}
		.no-data-text {
			color: red;
			text-align: center;
		}
		.div-blockchain{
			width: 100%;
  			text-align: center;
		}
		.bb{
			display: inline-block;
		}
		.hide{
			display: none;
		}
		.node-input{
			display: inline-block;
		}
		.show{
			text-align: center;
		}
	</style>


</body>

</html>